:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --green: #31d0aa;
  --slate: #434455;
  --navy-blue: #2e2f42;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --cornflower: #e7e9fc;
  --light-slate: #8e8f99;
  --dairy: #fcfcfc;
  --white: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}


body {
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
  background-color: var(--white);
}

h1,
h2,
h3 {
  color: var(--navy-blue);
}

a {
  text-decoration: none;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  font-family: 'Roboto', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

/*mobile menu*/

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 72px 24px 40px 16px;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform 300ms ease-out;
  opacity: 0;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transform: translateX(0);
}

.mobile-menu-button {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-button:active {
  background-color: var(--ocean);
}

.mobile-menu-button:active .menu-button-icon {
  fill: var(--white);
}

.mobile-menu-navigation {
  margin-bottom: auto;
}

.mobile-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-item-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.mobile-item-link.current,
.mobile-contacts-link.current {
  color: var(--ocean);
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.mobile-socials-list {
  display: flex;
  gap: 40px;
}

.mobile-socials-item {
  width: 40px;
  height: 40px;
}

.mobile-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* header */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

.section {
  padding: 96px 0;
}

@media (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

.button {
  min-width: 169px;
  padding: 16px 32px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--white);
  background-color: var(--iris);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--ocean);
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  background-color: var(--white);
}

.header .container {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .header-navigation {
    justify-content: space-between;
    flex-grow: 1;
  }
}

.header-navigation-logo {
  min-width: 115px;
  padding: 24px 0;
  margin-right: 76px;
}

.navigation-logo-accent {
  color: var(--navy-blue);
}

.header-navigation-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
}

.header-navigation-list,
.header-contacts {
  display: none;
}

@media (min-width: 768px) {
  .header-navigation-logo {
    margin-right: 120px;
  }

  .header-navigation-button {
    display: none;
  }

  .header-navigation-list {
    display: flex;
    gap: 40px;
    line-height: 150%;
  }

  .header-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .header-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-contacts-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: var(--slate);
  }

  .header-contacts-item:first-child .header-contacts-link {
    padding-top: 16px;
  }

  .header-contacts-item:last-child .header-contacts-link {
    padding-bottom: 16px;
  }

  .header-contacts-item {
    display: flex;
  }
}

@media (min-width: 1158px) {
  .header-navigation-logo {
    margin-right: 76px;
  }

  .header-contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-contacts-item:first-child .header-contacts-link,
  .header-contacts-item:last-child .header-contacts-link {
    padding: 24px 0;
  }

  .header-contacts-link {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }
}

.header-navigation-item {
  display: flex;
}

.header-navigation-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  color: var(--navy-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation-link.current {
  color: var(--ocean);
}

.header-navigation-link.current::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
}

.header-navigation-link:hover,
.header-navigation-link:focus,
.header-navigation-link:active,
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--ocean);
}


.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* hero */
.hero {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero/hero-image-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/hero-image-mobile@2x.jpg');
  }
}

.hero-title {
  margin-bottom: 72px;
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--white);
}

@media (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/hero-image-tablet.jpg');
  }

  .hero-title {
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 107%;
  }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/hero-image-tablet@2x.jpg');
  }
}

@media (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/hero-image-desktop.jpg');
  }

  .hero-title {
    margin-bottom: 48px;
  }
}

@media (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/hero-image-desktop@2x.jpg');
  }
}

/* our features */

.our-features-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.our-features-item {
  max-width: 100%;
}

@media (min-width: 768px) {
  .our-features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .our-features-item {
    width: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1158px) {
  .our-features-list {
    flex-direction: row;
  }

  .our-features-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}

.features-item-wrapper {
  display: none;
}

.our-features-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
}

@media (min-width: 768px) {
  .our-features-title {
    text-align: left;
  }
}

@media (min-width: 1158px) {
  .features-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    background-color: var(--cloud);
  }

  .our-features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}


/* our team */
.our-team {
  background-color: var(--cloud);
}

.our-team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}

@media (min-width: 768px) {
  .our-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }

  .our-team-item {
    width: calc((100% - 64px) / 2);
  }
}

@media (min-width: 1158px) {
  .our-team-list {
    flex-wrap: nowrap;
  }

  .our-team-item {
    width: calc((100% - 24px * 3) / 4);
  }
}

.our-team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-transform: capitalize;
  text-align: center;
}

.our-team-item {
  border-radius: 0 0 4px 4px;
  width: 264px;
  background-color: var(--white);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team-description {
  padding: 32px 0;
  width: 100%;
}

.our-team-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
}

.our-team-position {
  margin-bottom: 8px;
  line-height: 150%;
  text-transform: capitalize;
  text-align: center;
}

.our-team-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-socials-item {
  width: 40px;
  height: 40px;
}

.team-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: var(--ocean);
}

.team-socials-icon {
  fill: var(--cloud);
}

/* portfolio */
.our-portfolio-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
}

.our-portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 48px;
}

@media (min-width: 768px) {
  .our-portfolio-list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .our-portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1158px) {
  .our-portfolio-list {
    row-gap: 48px;
  }

  .our-portfolio-item {
    width: calc((100% - 24px * 2) / 3);
  }
}

.our-portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-item:hover {
  cursor: pointer;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  line-height: 150%;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform ease-in 0.5s;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--cloud);
  background-color: var(--iris);
}

.our-portfolio-item:hover .overlay {
  transform: translateY(0%);
}

.our-portfolio-description {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: 0;
}

.portfolio-description-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

.our-portfolio-category {
  line-height: 150%;
}

/* footer */
.footer {
  padding: 96px 0;
  background-color: var(--navy-blue);
}

.footer .container {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.footer-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-description-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-accent {
  color: var(--cloud);
}

.footer-description-text {
  max-width: 265px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social-subtitle {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--white);
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
}

.footer-social-icon {
  fill: var(--cloud);
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-subscribe-subtitle {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--white);
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-form-input {
  margin-bottom: 16px;
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  outline: none;
  background-color: transparent;
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 165px;
  background-color: var(--iris);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--white);
  border: 0;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 8px 24px;
}

.footer-button-image {
  margin-left: 16px;
  fill: var(--white);
}

.form-button-text {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--white);
}

.form-button-image {
  fill: var(--white);
}

@media (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer-description {
    align-items: flex-start;
    margin-right: 24px;
  }

  .footer-form {
    column-gap: 24px;
    flex-direction: row;
    align-items: flex-start;
  }

  .footer-socials {
    align-items: flex-start;
    margin-right: 80px;
  }

  .footer-subscribe {
    align-items: flex-start;
  }
}

@media (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .footer .container {
    flex-wrap: nowrap;
  }

  .footer-description {
    margin-right: 120px;
  }

  .footer-form-input {
    border: 1px solid var(--white);
  }

  .footer-form-input::placeholder {
    color: var(--white);
  }
}

/* modal */

.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-background.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

@media (min-width: 768px) {
  .modal-window{
    width: 408px;
    min-height: 584px;
    padding: 24px;
    padding-top: 72px;
  }
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: var(--cornflower);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.form-modal {
  display: flex;
  flex-direction: column;
}

.modal-close-btn{
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  padding: 0px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--cornflower);
  color: var(--navy-blue);

}

.modal-close-btn:hover{
  background-color: var(--ocean);
  fill: var(--white);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text{
  color: var(--navy-blue);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  }
  
  
  .modal-window-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 16px;
  }
  
  .modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


.modal-button:hover,
.modal-button:focus {
  background-color:var(--ocean);
  border: none;
  fill: var(--white);
}

.modal-closed {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-item-first {
  margin-bottom: 8px;
}

.form-label-modal {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.form-item-contn {
  position: relative;
}

.form-input-modal {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-modal:focus {
  border-color: var(--iris);
}

.icon-modul {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-modal:focus + .icon-modul {
  fill: var(--iris);
}

.form-item-comment {
  margin-bottom: 16px;
}

.text-comment {
  width: 100%;
  height: 120px; 
  font-size: 12px;
  line-height: 1.17; 
  letter-spacing: 0.04em; 
  color: rgba(46, 47, 66, 0.40);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent; 
  padding: 8px 16px;
  outline: transparent;resize: none; 
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.text-comment:focus {
  border-color: var(--iris); 
}

.check-box {
  margin-bottom: 24px; 
}

.user-check {
  font-size: 12px;
  line-height: 1.17; 
  letter-spacing: 0.04em; color: var(--light-slate);
}

.user-span {
  display: inline-flex; 
  justify-content: center; 
  align-items: center;
  fill: transparent;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 2px; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-box .input:checked {
background-color: var(--ocean);
border: none;
fill: var(--cloud);

}

.link-privacy {
  color: var(--iris);
}
  
.button-send {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color:var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover,
.button-send:focus {
  background-color: var(--ocean);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.check-box input[type="checkbox"]:checked + .user-check span {
  background-color: var(--ocean);
  border: none;
  fill: #F4F4FD;
  background-image: url(../images/Vector.svg);
  background-position: center;
  background-repeat: no-repeat;

}